---

---

<div class="citation">
  <h3>“We move together. We dance together. We build something bigger—together.”</h3>
  <img src="public/images/bareenxrosk.webp" alt="Bareen x Roskilde Festival image" />
</div>

<style>
  .citation {
    background-image: url(public/images/dj_image.webp);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px 20px;
  }

  img {
    max-width: 50%;
    height: auto;
  }

  h3 {
    font-family: "Helvetica Neue", sans-serif;
    color: white;
    background-color: rgba(34, 34, 34, 0.7); /* dark grey med 50% opacity */
    padding: 20px;
  }
</style>
