---
const { id } = Astro.props;
---
<div id=`${id}` class="collab"></div>
<div class="grid_collab">
    <div><img class="collab_img" src="../images/collab.png" alt="billede"></div>
   <div class="collab_text"><h1>BAREEN X ROSKILDE FESTIVAL COLLABORATION</h1>
    <p>Ready to feel the beat in your bones and the fabric on your skin?
        Bareen joins forces with Roskilde Festival and the sports community to create more than a look—it’s a movement. Born from rhythm, sweat, and street culture, this collab fuses fashion, music, and motion.
        Think bold cuts. Think fluid energy. Think gear that moves like you do.
        This is not just a collection. This is Bareen amplified.</p></div> 
</div>

<style>
.grid_collab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
   
}

.collab_img{
    box-shadow: 35px 35px var(--grey);
    width: 80%;
}
.collab_text{
    margin-top: 10rem;
    
}
p{
    margin-top: 2rem;
}
</style>