---
---
<div class="grid_img">


    <img src="../images/1.webp" class="slide-down" style="--endY: 0px;">
    <img src="../images/2.webp" class="slide-down" style="--endY: 35px;">
    <img src="../images/3.webp" class="slide-down" style="--endY: 50px;">
    <div class="text">Limited Bareen x <br>Roskilde Festival
    </div>
    <img src="../images/4.webp" class="slide-down" style="--endY: 50px;">
    <img src="../images/5.webp" class="slide-down" style="--endY: 30px;">
    <img src="../images/6.webp" class="slide-down" style="--endY: 0px;">
  </div>
<div class="grid_mobile">
  <div class="grid_img_mob">
  <img src="../images/1.webp" class="slide-down" style="--endY: 0px;">
    <img src="../images/2.webp" class="slide-down" style="--endY: 35px;">
    <img src="../images/3.webp" class="slide-down" style="--endY: 50px;"></div>
    <div class="text">Limited Bareen x <br>Roskilde Festival
    </div><div class="grid_img_mob">
    <img src="../images/4.webp" class="slide-down" style="--endY: 50px;">
    <img src="../images/5.webp" class="slide-down" style="--endY: 30px;">
    <img src="../images/6.webp" class="slide-down" style="--endY: 0px;"></div>
  </div>
  <style>

    .grid_mobile{
      display: none;}


    .grid_img {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  margin: 40px;
 
}
.text{ align-self: center;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  margin-right: 60px;
}

.grid_img img{
  width: 70%;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: translateY(var(--endY, 0));
    opacity: 1;
  }
}


.slide-down {
  opacity: 0;
  transform: translateY(-150px);
  transition: transform 1s ease-in, opacity 1s ease-in;
}


.slide-down.animate {
  animation: slideFromTop 1s ease-in forwards;
}
 



@media screen and (max-width: 800px) {
  .grid_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
   
    gap:6rem;
  }
.text{
  font-size: 24px;
}
  .grid_img {
    display: none;
  }

  .grid_img_mob {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
  }

  .grid_img_mob img {
    width: 20%;
    height: max-content;
 
  }

  .text {
    text-align: center;
    margin: 2rem 0;
  }
}
</style>
<script>
  const images = document.querySelectorAll('.slide-down');
  
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate');
      }
    });
  }, {
    threshold: 0.5 
  });
  
  images.forEach(img => observer.observe(img));
  </script>
