---
---
<div class="grid_some">
    <div><h2>#More than fashion</h2>
    <p>This isn’t just about what you wear — it’s about what you stand for.  With every piece, we’re telling a story of creativity, community, and conscious choices.  Because real style doesn’t follow trends — it makes a statement.
    </p> <p class="p_some">Bareen x Roskilde.</p></div>
<div><img  class="img_some" src="../images/some.webp" alt="people"></div>
        
    
</div>

<style>
    .grid_some{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--dark-grey);
        height: 500px;
    }
h2{
    margin-top: 8rem;
    color: white;
    margin-left: 8rem;
}
    p{
        color: white;
        margin-top: 4rem;
        width: 80%;
        margin-left: 8rem;
    }
    .img_some{
        width: 35%;
        position: absolute;
        top: 80%;
        right: 10%;
    }
    .p_some{
        color: white;
        font-size: 24px;
    }
</style>